name: Github Action Test CI
on:
  push:
    branches:
      - main
    tags:
      - "v*.*.*"
  pull_request:
jobs:
  test-branch-true:
    if: "!startsWith(github.ref, 'refs/tags/')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: ./
        id: contains_tag
        with:
          reference: "main"
          tag: "init"
          frail: false
      - name: Check if code output is valid
        run: |
          if [[ ${{ steps.contains_tag.outputs.retval }} == 'true' ]]; then
            echo "Retval is correct."
          else
            echo "Retval is incorrect!"
            exit 1
          fi
  test-branch-false:
    if: "!startsWith(github.ref, 'refs/tags/')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: ./
        id: contains_tag
        with:
          reference: "main"
          tag: "octocat"
          frail: false
      - name: Check if code output is valid
        run: |
          if [[ ${{ steps.contains_tag.outputs.retval }} != 'true' ]]; then
            echo "Retval is correct."
          else
            echo "Retval is incorrect!"
            exit 1
          fi
  test-commit-true:
    if: "!startsWith(github.ref, 'refs/tags/')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: ./
        id: contains_tag
        with:
          reference: "b93f2a857"
          tag: "init"
          frail: false
      - name: Check if code output is valid
        run: |
          if [[ ${{ steps.contains_tag.outputs.retval }} == 'true' ]]; then
            echo "Retval is correct."
          else
            echo "Retval is incorrect!"
            exit 1
          fi
  test-commit-false:
    if: "!startsWith(github.ref, 'refs/tags/')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: ./
        id: contains_tag
        with:
          reference: "b93f2a857"
          tag: "octocat"
          frail: false
      - name: Check if code output is valid
        run: |
          if [[ ${{ steps.contains_tag.outputs.retval }} != 'true' ]]; then
            echo "Retval is correct."
          else
            echo "Retval is incorrect!"
            exit 1
          fi
  test-on-tag-push:
    if: "startsWith(github.ref, 'refs/tags/v*.*.*')"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: ./
        id: contains_tag
        with:
          reference: "main"
          tag: "${{ github.ref }}"
      - name: Run step only when tag is pushed to the main branch.
        if: "!steps.contains_tag.outputs.retval"
        run: |
          echo "Tag '${{ steps.contains_tag.outputs.tag }}' was pushed to the '${{ steps.contains_tag.outputs.reference }}' branch."
